/*===========
==Root Vars== 
===========*/

/* Important Display Changes 
Comment these out like I am doing right now if you miss this stuff */

/* Pinned Friends */
.quickAccessFriends {
    display: none !important;
}

/* Group Chats */
.FriendsListChatSection.ChatRoomListContainerParent {
    display: none;
}

/* Playing With Others */

.SteamPlayerGroupFooter {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif !important;
    transition: none !important;
	cursor: default !important;
	box-shadow: none !important;
}

/*===========
==Scrollbar== 
===========*/

::-webkit-scrollbar-thumb {
	background-color: var(--buttonface2-master) !important;
	border-left: 2px solid transparent !important;
	border-right: 2px solid transparent !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	background-image: url("https://i.imgur.com/R1VeTuY.png") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: var(--scrollradius) !important;
	min-height: 21px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--buttonfaceactive-master) !important;
	border-left: 2px solid transparent !important;
	border-right: 2px solid transparent !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	background-image: url("https://i.imgur.com/R1VeTuY.png") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: var(--scrollradius) !important;
}

::-webkit-scrollbar {
	width: 17px !important;
}

::-webkit-scrollbar-track {
	display: block !important;
	background-image: linear-gradient(to bottom, var(--buttonborderdisabled-master) 0px, transparent 200px) !important;
	background-repeat: no-repeat;
	border-left: 2px solid transparent;
	border-radius: var(--scrollradius) !important;
	border-right: 2px solid transparent;
}

::-webkit-scrollbar-button:single-button {
	display: block !important;
	height: 24px !important;
	width: 17px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: var(--scrollradius) !important;
	background-clip: content-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image: url("https://i.imgur.com/yq1K42i.png");
	background-color: var(--buttonface2-master);
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background-image: url("https://i.imgur.com/C1mnmlC.png");
	background-color: var(--buttonfaceactive-master);
}

::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image: url("https://i.imgur.com/NX4Z0fU.png");
	background-color: var(--buttonface2-master);
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
	background-image: url("https://i.imgur.com/EKk8diC.png");
	background-color: var(--buttonfaceactive-master);
}

/*==========
===Layout=== 
==========*/

/* Frame */

.FriendsListContent {
    padding-left: 6px;
    padding-right: 6px;
    background: var(--clientnostretch), linear-gradient(to bottom, black 0, var(--dialogbg-master) 175px);
    background-repeat: no-repeat;
    background-position: left -103px;
    background-color: var(--dialogbg-master);
    overflow: visible;
}

#popup_target {
    border: 1px solid black;
    box-sizing: border-box;
}

.WindowFocus #popup_target {
    border-image: linear-gradient(-225deg, black 50%, #4D678C);
    border-image-slice: 1;
}

/* Header */

.friendListHeaderContainer {
    background-image: var(--clientnostretch), linear-gradient(to bottom, black, var(--dialogbg-master) 175px);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: transparent;
	border: none;
    box-shadow: none;
}

.title-area-highlight, .singleWindowFocusBar.chatSingleWindowFocusBar {
    display: none !important;
}

.friendListHeaderContainer .title-area {
    height: min-content;
}

/* Header - Title Bar */

.DesktopUI .title-area-icon.minimizeButton svg, .friendsui-container .title-area-icon.minimizeButton svg {
    transform: none;
}

.DesktopUI .title-area-icon, .friendsui-container .title-area-icon {
    width: 15px;
    height: 15px;
}

.DesktopUI .title-area-icon, .friendsui-container .title-area-icon:not(:first-child) {
    margin-right: 7px;
}

.title-area-icon *, .title-area-icon .SVGIcon_X_Line line {
    stroke: var(--label-master);
}

.DesktopUI .title-area-icon.closeButton:hover, .friendsui-container .title-area-icon.closeButton:hover, .DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
    background: transparent;
}

.title-bar-actions.window-controls {
    margin-right: 7px !important;
    margin-top: 7px !important;
}

/* Header - Search */

.activeTab {
    background: none !important;
    box-shadow: none !important;
	padding-left: 6px !important;
}

.tabSearchTransitionGroup {
    cursor: text !important;
}

.friendsTabButtonsContainer {
    padding: 0 !important;
}

.socialListTab .tabLabel {
    position: fixed !important;
    top: 6px !important;
    left: 9px !important;
    transition: none !important;
    color: var(--label-master);
    text-transform: none;
    font-size: 11px;
    width: auto !important;
    height: min-content !important;
}

.socialListTab.TabSearchActive .tabLabel {
    opacity: 1 !important;
}

.friendSearchInput[type="text"] {
    background-color: var(--dialogbg-master) !important;
    box-shadow: none !important;
    transition: none !important;
    background-image: url(https://i.imgur.com/mJP3pfZ.png);
    background-size: 18px;
    background-position: 3px center;
}

.TabSearchButton .searchIconButton {
    position: absolute;
    background-image: url(https://i.imgur.com/mJP3pfZ.png);
    background-size: 18px;
    width: 18px;
    height: 18px;
    top: 12px;
    left: 13px;
}

.friendSearchInput[type=text]::placeholder {
    color: var(--label2-master);
}

.tabSearchTransitionGroup::before {
    content: "Search Friends";
    text-transform: none;
    font-style: oblique;
    color: var(--label2-master);
    position: absolute;
    left: 32px;
    top: 11px;
    font-size: 12px;
}

.friendsTabButtonsContainer .TabSearchButton .SVGIcon_MagnifyingGlass {
    display: none;
}

.TabSearchButton, .TabSearchButton:hover {
    background: var(--dialogbg-master);
}

.TabSearchButton, .inputContainer {
    height: 23px !important;
	border-radius: 0 !important;
}

/* Header - Search - Friend Button */

.friendsTabButtonsContainer .friendRequestButton {
    padding: 0;
    margin: 0;
    width: 23px;
    height: 23px;
    margin-right: 6px;
    margin-left: 2px;
    top: 2px;
}

.friendRequestButton.friendRequestViewActive.friendRequestOutgoingOnly, .friendRequestButton.friendRequestViewActive.friendRequestOutgoingOnly:hover {
    background: linear-gradient(to bottom, rgb(85,125,171), rgb(49,65,89)) !important;
    border-radius: 3px !important;
}

.friendRequestButton .SVGIcon_FriendRequest, .addFriendButton .SVGIcon_AddFriend {
    margin: 0;
    margin-left: 4px;
    margin-top: 3px;
    width: 18px;
    height: 18px;
    max-height: 100%;
    max-width: 100%;
}

.friendRequestButton.friendRequestOutgoingOnly:hover {
    background: rgba(156,154,153,.1) !important;
}

.friendRequestButton .SVGIcon_FriendRequest .friendBodyFull, .friendRequestButton .SVGIcon_FriendRequest .friendHead, .friendRequestButton .SVGIcon_FriendRequest .friendArm, .friendRequestButton .SVGIcon_FriendRequest .friendBody, .addFriendButton .SVGIcon_AddFriend .friendHead, .addFriendButton .SVGIcon_AddFriend .friendBody {
    fill: var(--label-master) !important;
}

.friendRequestButton.friendRequestViewActive .SVGIcon_FriendRequest .friendBodyFull, .friendRequestButton.friendRequestViewActive .SVGIcon_FriendRequest .friendHead, .friendRequestButton.friendRequestViewActive .SVGIcon_FriendRequest .friendArm, .friendRequestButton.friendRequestViewActive .SVGIcon_FriendRequest .friendBody {
    fill: var(--label-master) !important;
}

.friendRequestButton:hover .SVGIcon_FriendRequest .friendHead, .friendRequestButton:hover .SVGIcon_FriendRequest .friendArm, .friendRequestButton:hover .SVGIcon_FriendRequest .friendBody, .friendRequestButton:hover .SVGIcon_FriendRequest .friendBodyFull, .addFriendButton:hover .SVGIcon_AddFriend .friendHead, .addFriendButton:hover .SVGIcon_AddFriend .friendBody {
    fill: var(--label-master) !important;
}

/* Header - You! */

.AvatarAndUser {
    padding-left: 8px;
    padding-top: 32px;
    padding-bottom: 0px;
}

.currentUserContainer {
    border: none;
}

.statusHeaderGlow {
    display: none;
}

.avatarFrame {
    display: none !important;
}

.currentUserAvatar, .currentUserAvatar .avatarHolder, .currentUserContainer img {
    width: 40px !important;
    height: 40px !important;
    box-sizing: border-box;
}

.online .nOdcT-MoOaXGePXLyPe0H, .online ._2Ri005Wg_uXDTa71kdRbcN, .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a, .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover, .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active, .online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited {
    color: var(--FriendsOnlineColor);
}

.nOdcT-MoOaXGePXLyPe0H {
    font-size: 12px !important;
}

.currentUserAvatar:hover {
    transform: none !important;
    filter: none !important;
}

/* Header - Quick Access Friends */

.FavoriteFriend_GameIcon {
    display: none;
}

.SnoozeContainer {
    display: none;
}

.friend.quickAccessFriend.friendStatusHover {
    width: auto;
    height: auto;
    margin-left: 3px;
    margin-right: 3px;
}

.quickAccessFriends {
    margin-left: 6px;
}

/* Center */

.SteamPlayerGroupLines {
    display: none;
}

.friendlistListContainer {
    background: linear-gradient(to bottom, var(--dialogbg-master) 12px, var(--almostBlack-master) 128px);
}

.FriendsListContent .friendlistListContainer .friendGroup {
    border: none !important;
}

/* This looks good but it sucks

.friendlistListContainer:before {
    display: block;
    content: "";
    width: calc(100% - 30px);
    height: 4px;
    position: fixed;
    left: 7px;
    background: #171614;
    z-index: 1;
    bottom: 38px;
}

.friendlistListContainer:after {
    display: block;
    content: "";
    width: calc(100% - 30px);
    height: 13px;
    position: fixed;
    left: 7px;
    z-index: 1;
    bottom: 38px;
    background: linear-gradient(to top, #17161459 75%, transparent);
}

*/

/* Center - Group List */

.ExpandPlusMinus {
    opacity: 1 !important;
}

.ExpandPlusMinus .SVGIcon_PlusCircle .horizontalLine, .ExpandPlusMinus .SVGIcon_PlusCircle .verticalLine {
    stroke: var(--label-master) !important;
    stroke-width: 32px;
}

.groupName:hover .ExpandPlusMinus .SVGIcon_PlusCircle line {
	stroke: var(--Text-master) !important;
}

.friendGroup .groupName {
    color: var(--Text-master) !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    padding: 0;
    margin: 0;
	line-height: 20px;
}

.DropTarget.friendGroup {
    margin-top: 2px !important;
    margin-left: 5px;
}

.groupName.Panel {
    background-image: linear-gradient(to right, var(--buttonface2-master) 0%, transparent 90%) !important;
}

.FriendInGameIcon {
    display: none;
}

.groupHeaderContainer .SortByRecent {
    position: absolute;
    right: 0;
}

.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter, .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
    padding: 2px 0px 2px 12px;
}

.groupIcon {
    display: none;
}

.gameGroupContainer {
    width: auto !important;
    height: auto !important;
    margin-right: 0px !important;
}

.groupCount {
    opacity: 1 !important;
    color: var(--label2-master) !important;
    transform: none !important;
}

/* Footer */

.friendListFooter {
    min-height: 37px;
    background-color: var(--dialogbg-master);
}

/* Footer - Add Friend (technically not part of the footer) */

.addFriendButton {
    position: fixed;
    left: 17px;
    bottom: 5px;
    margin: 0;
    width: auto;
}

.addFriendButton::before {
    content: "+ Add a Friend...";
    color: var(--label-master);
	font-weight: bold;
}

.addFriendButton:hover::before {
    color: var(--Text-master);
}

.addFriendButton .SVGIcon_AddFriend {
    display: none;
}

/*==========
==Globals=== 
==========*/

/* Global - Friend Borders */

.avatar {
    border: var(--profileborder) solid transparent !important;
    border-radius: var(--profileradius) !important;
    background-image: linear-gradient(to bottom, var(--FriendsInGameColor-master), var(--FriendsInGameColor-master)) !important;
    background-size: 100% 150% !important;
    background-position-y: -4px !important;
}

.online .avatar, .awayOrSnooze .avatar {
    background-image: linear-gradient(to bottom, var(--FriendsOnlineColor), var(--stblue-master)) !important;
}

.offline .avatar {
    background-image: linear-gradient(to bottom, var(--buttonface-master), var(--buttonbordersubtle-master)) !important;
}

.ingame .avatar {
    background-image: linear-gradient(to bottom, var(--FriendsInGameColor-master), var(--Friendsdullgreen-master)) !important;
}

.avatarHolder.ingame /* Ingame borders need this for some reason */ {
    margin-top: -2px;
}

.avatarStatus {
    display: none !important;
}

/* Global - Context Menus */

/* This sucks so fucking much */

.PP7LM0Ow1K5qkR8WElLpt._1UOkn2fGQ25jnyqcEJbnlo.visible._1S6CCCQlcTTAAHh3LMTLh1, .DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, ._1ZpBQtDqcKBbfIIv01Vs1R > div.DesktopUI, .DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div, .DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLpt, .PP7LM0Ow1K5qkR8WElLpt, ._1S6CCCQlcTTAAHh3LMTLh1 {
    background-color: var(--dialogbg-master) !important;
    background-image: linear-gradient(to bottom, var(--buttonbordersubtle-master), var(--dialogbg-master)) !important;
	border: 1px solid transparent !important;
	border-radius: 1.5px;
	box-shadow: 0 0 0px 1.5px var(--buttonbordersubtle-master) !important;
	padding: 1px !important;
}

.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:hover, .DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI:hover, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK, ._1n7Wloe5jZ6fSuvV18NNWI:hover {
    background: #314259;
	color: var(--Text-master);
}

._2EstNjFIIZm_WUSKm5Wt7n, .friendsContextMenu {
	padding: 0 !important;
	border-radius: 2px !important;
	box-sizing: border-box !important;
}

._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem, ._1n7Wloe5jZ6fSuvV18NNWI {
    font-size: 12px;
    padding: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--Text-master);
	line-height: 22px;
	font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
}

html._14wqdluDeDnnEcg3OSLEmd .PP7LM0Ow1K5qkR8WElLpt, .PP7LM0Ow1K5qkR8WElLpt {
    box-sizing: border-box;
}

/*===============
===Chat Window=== 
===============*/

/* Frame */

.displayColumn.fullWidth {
    padding-left: 7px;
    padding-right: 7px;
    background: var(--clientnostretch), linear-gradient(to bottom, #1A1917 50%, #2f2e2d 100%);
    background-repeat: no-repeat;
    background-position: left -44px;
    background-color: #2f2e2d;
}

.singleWindowDivider {
    background-color: var(--dialogbg-master);
}

.singleWindowDivider:hover {
    background: var(--buttonface-master);
}

/* Header */

.titleBarContainer.ChatTabs {
    background-image: var(--clientnostretch), linear-gradient(to bottom, black, var(--dialogbg-master) 175px);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: transparent;
    border: none;
	z-index: 100;
}

.ChatTabs .TitleBar.title-area.chatTitleBar {
    z-index: 0;
}

.chatTabSetContainer.inclient {
    margin-left: 7px;
    transform: translatey(1px);
    z-index: 100;
    padding: 0;
    margin-right: 101px;
}

._2XZq-_f6npaQdAgeRzKIkz {
    padding-left: 6px;
    padding-right: 6px;
    min-width: 150px;
    height: 23px;
    width: auto;
    background: linear-gradient(to bottom, var(--buttonface-master), var(--dialogbg-master) var(--friendstabgradientstretch));
    border-radius: 0;
}

._2XZq-_f6npaQdAgeRzKIkz:not(.Yd-DsWkYiFiYwpci--Yk_) {
	background: var(--friendsinactivetab);
}

._2XZq-_f6npaQdAgeRzKIkz:not(:first-child) {
    margin-left: 4px;
}

._2XZq-_f6npaQdAgeRzKIkz::before, ._2XZq-_f6npaQdAgeRzKIkz:last-of-type::after {
	display: none;
}

._21I8pyEfvklCsrYIcsBtYY .nibodjvvrm86uCfnnAn4g {
    display: none;
}

.TitleBar.title-area.chatTitleBar {
    min-height: 0;
}

.friend .labelHolder {
    height: auto;
}

.nOdcT-MoOaXGePXLyPe0H {
    line-height: 12px;
}

.chatWindow .chatHeader {
    display: none;
}

.chatTabSelector {
    width: 46px;
    height: 23px;
    background: linear-gradient(to bottom, var(--buttonface-master) , var(--dialogbg-master));
}

.chatTabSelector .SVGIcon_DownArrowContextMenu {
    margin-left: 15px;
    margin-top: 4px;
}

.chattabs_CloseButton_7gMwY {
    transform: none;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 7px;
	top: 5px;
}

.chattabs_CloseButton_7gMwY .SVGIcon_X_Line line {
    stroke: var(--label-master);
    stroke-width: 48px;
}

._2XZq-_f6npaQdAgeRzKIkz:not(.Yd-DsWkYiFiYwpci--Yk_) {
    transform: translatey(-1px);
    border-bottom: 1px solid black;
}

/* Fixes dumb scroll bar */

.HorizontalMiniSliderScroll {
    overflow: hidden;
}

/* Content */

.displayRow.minHeightZero.Panel, .chatEntry.Panel {
    background: var(--dialogbg-master);
}

._1qeW35auMlJ5pJVNtBC-bF {
    display: none;
}

.displayRow.minHeightZero.Panel {
	background: linear-gradient(to bottom, var(--dialogbg-master), #262524, var(--dialogbg-master));
    border-top: 1px solid var(--buttonface-master);
}

.ChatRoomGroupDialog_history {
    border: 1px solid var(--buttonface-master);
    margin-left: 8px;
    margin-right: 8px;
    border-top-style: none;
    margin-top: 10px;
    border-radius: 5px;
}

.ChatRoomSpeaker .speaker .speakerAvatar, .ChatMsgSlashEmote .speaker .speakerAvatar {
    display: none;
}

.speakerStatus {
    display: none;
}

.ChatRoomSpeaker .speaker {
    flex-direction: row-reverse;
    justify-content: flex-end;
	width: min-content;
}

.speakerTimeStamp, .speakerName {
    font-size: 12px !important;
}

.speakerTimeStamp::after {
    content: "-";
    margin-left: 3px;
    margin-right: 3px;
}

.chatHistory {
    margin: 0;
    padding: 0;
}

.MultiUserChat .msg:not(.ChatMsgSlashEmote) {
    padding: 0;
    margin-left: 6px;
}

.messages_MsgWithAddons_32Uri:hover {
    background: none;
}

.inviteAnotherFriendButton {
    border-radius: 5px;
    background: linear-gradient(to bottom, var(--buttonface2-master), var(--PropertySheetBG-master));
    border: 1px solid var(--buttonborder-master);
    right: 24px;
    top: 17px;
}

.inviteAnotherFriendButton .SVGIcon_Button {
    fill: var(--label-master);
}

.inviteAnotherFriendButton .SVGIcon_Button line, .chatRoomButton .SVGIcon_Button line {
    stroke: var(--label-master);
}

.inviteAnotherFriendButton:hover .invitePlus, .chatRoomButton:hover:not(.Disabled) .invitePlus {
    transform: none;
}

/* Chat tools / "Footer" */

form._3Ule3rolhZJiBN4yNNtk1s, ._2WfNoLBdfKwyutA6ho4aSH .RVIs84dAE6wHcjH9tkinc, .VoiceToggle {
    background: none !important;
    border: 1px solid var(--buttonface-master) !important;
    border-radius: 5px !important;
}

.VoiceToggle {
    max-width: 52px !important;
    max-height: 52px !important;
    min-width: 52px !important;
    width: 52px !important;
    height: 52px !important;
}

.VoiceToggleIconCtn {
    position: relative;
}

.ChatMessageEntryVoice {
    background-color: transparent;
	padding: 0;
    max-width: 52px;
    max-height: 52px;
    flex: 1;
}

.friendsui-container .SVGIcon_TextRoom, .friendsui-container .SVGIcon_Button.SVGIcon_TextRoom, .friendsui-container .SVGIcon_VoiceRoom, .friendsui-container .SVGIcon_Button.SVGIcon_VoiceRoom {
    fill: var(--label2-master) !important;
    stroke: var(--label2-master) !important;
}

.VoiceToggleIconCtn .SVGIcon_VoiceRoom .Microphone {
    fill: var(--label2-master) !important;
}

.VoiceToggle:not(.Disabled):focus .SVGIcon_VoiceRoom .Microphone, .VoiceToggle:not(.Disabled):hover .SVGIcon_VoiceRoom .Microphone, .VoiceToggle:not(.Disabled):focus .SVGIcon_VoiceRoom .AudioLines, .VoiceToggle:not(.Disabled):hover .SVGIcon_VoiceRoom .AudioLines {
	fill: #fff !important;
}

.RVIs84dAE6wHcjH9tkinc {
    background: none !important;
    border: none !important;
}

.jaQN2IyN4P8LZXJ6P11qy .SVGIcon_Submit path {
    fill: var(--label2-master) !important;
}

.RVIs84dAE6wHcjH9tkinc .SVGIcon_Submit path {
    fill: var(--Text-master);
}

._2WfNoLBdfKwyutA6ho4aSH {
    background-color: transparent;
    padding: 0;
}

.Aupswi7-c-w3XwNO5cp2i .SVGIcon_Emoticon line, .Aupswi7-c-w3XwNO5cp2i .SVGIcon_Emoticon circle, .Aupswi7-c-w3XwNO5cp2i .SVGIcon_Emoticon path, ._3zOBeq5W4cNK3lRz_7aroW .SVGIcon_Paperclip path {
    stroke: var(--label2-master);
}

._2WfNoLBdfKwyutA6ho4aSH button:not(:last-child) {
    margin-right: 8px;
}

._2WfNoLBdfKwyutA6ho4aSH button {
    max-width: 52px !important;
    max-height: 52px !important;
    width: 52px;
    height: 52px;
	min-width: 52px !important;
}

.W0OhkJtz8zMUW8Mhu0BMO {
    max-height: 100%;
}

.chatHistory {
    padding-bottom: 24px !important;
}

.chatEntry form textarea:hover {
    cursor: text !important;
}

.chatEntry form textarea {
    scrollbar-width: none;
}

.chatEntry .compactableHeight div button:hover {
    filter: brightness(1.25) !important;
}

.inviteAnotherFriendButton {
    margin-right: 15px;
    margin-top: -4px;
}

/* nagging about compact mode */

@keyframes fade {
	
	0% {
		
		opacity: 1;
		
	}
	100% {
		
		opacity: 0;
	}
}

.friendlist.compactView::before {
    content: "Turn off compact mode, please.";
	font-size: 18px;
	font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 999999999999;
    text-align: center;
    color: white;
    margin: auto;
    animation: fade 0.5s ease-in;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	pointer-events: none !important;
}

/* This has never looked good */

.labelHolder.ingame._1JE5G7_FNm2SRDEEnOWMVv ._3sxE7F1LV2IcSX68YsH9dI {
	display: none;
}
