#left.image-gradient img {
    -webkit-mask-image: linear-gradient(to left, transparent 0px, #0000001f 10px, #00000045 20px, #000000a3 40px, black 75px);
}

#right.image-gradient img {
    -webkit-mask-image: linear-gradient(to right, transparent 0px, #0000001f 10px, #00000045 20px, #000000a3 40px, black 75px);
}

.a-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-flow: row;
}

#left, #right {
    flex: 1;
}
  
.addon-details-segment {
    background: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

h1, h2 {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
}

.intro {
  font-size: 16px;
  line-height: 22px;
  color: #b0aeac;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    color: #e1e1e1;
}

p {
    margin-bottom: 12px;
    color: #b0aeac;
    line-height: 20px;
    font-size: 14px;
}

/*

.addon-backdrop {
    opacity: 1 !important;
    -webkit-mask: none !important;
    height: 720px !important;
    width: 100% !important;
    object-position: bottom left !important;
}

*/

.addon-backdrop {
    display: none !important;
}

.page-section#addon-details {
    background: linear-gradient(rgb(57, 56, 53), black 304px, black 90%, rgb(12, 12, 12));
}

footer#section-footer {
    background: black !important;
}
    
.page-section-inner {
    font-family: Arial, Helvetica, sans-serif !important;
    flex-direction: column;
    display: flex;
}

/* Looks cool, messes with page order too much

#addon-details-title {
  order: 2;
}

#addon-info-container {
  order: 1;
}

.title-description {
  order: 3;
}

#addon-splitview-container {
  order: 4;
}

*/

#addon-info-container, .title-description {
  margin: 0;
}

.addon-info-item, .title-description {
  color: #666465;
  font-size: 12px;
}
    
#navbar {
    background: url(https://i.imgur.com/ihujOpD.jpg) !important;
    border-bottom: 1px solid #4D4B48 !important;
    background-size: auto 100% !important;

    
.nav-item {
    font-weight: normal !important;
    font-size: 14px !important;
    text-transform: uppercase;
}

#addon-details-right-column {
    margin: 0;
    padding-left: 20px;
}

/* Bunch of Stuff */

/* Slideshow container */
.slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
}

/* Hide the images by default */
.mySlides {
        display: none;
}

/* Next & previous buttons */
.prev,
.next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
}

/* Position the "next button" to the right */
.next {
        right: 0;
        border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
}

/* The dots/bullets/indicators */
.dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
}

.active,
.dot:hover {
        background-color: #717171;
}

/* Fading animation */
.fade {
        animation-name: fade;
        animation-duration: 1.5s;
}

@keyframes fade {
        from {
                opacity: .4
        }

        to {
                opacity: 1
        }
}
