#left.image-gradient img {
    -webkit-mask-image: linear-gradient(to left, transparent 0px, #0000001f 10px, #00000045 20px, #000000a3 40px, black 75px);
}

#right.image-gradient img {
    -webkit-mask-image: linear-gradient(to right, transparent 0px, #0000001f 10px, #00000045 20px, #000000a3 40px, black 75px);
}

.a-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-flow: row;
}

#left, #right {
    flex: 1;
}
  
.addon-details-segment {
    background: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

h1, h2 {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
}

.intro {
  font-size: 16px;
  line-height: 22px;
  color: #b0aeac;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    color: #e1e1e1;
}

p {
    margin-bottom: 12px;
    color: #b0aeac;
    line-height: 20px;
    font-size: 14px;
}

/*

.addon-backdrop {
    opacity: 1 !important;
    -webkit-mask: none !important;
    height: 720px !important;
    width: 100% !important;
    object-position: bottom left !important;
}

*/

.addon-backdrop {
    display: none !important;
}

.page-section#addon-details {
    background: linear-gradient(rgb(57, 56, 53), black 304px, black 90%, rgb(12, 12, 12));
}

footer#section-footer {
    background: black !important;
}
    
.page-section-inner {
    font-family: Arial, Helvetica, sans-serif !important;
    flex-direction: column;
    display: flex;
}

/* Looks cool, messes with page order too much

#addon-details-title {
  order: 2;
}

#addon-info-container {
  order: 1;
}

.title-description {
  order: 3;
}

#addon-splitview-container {
  order: 4;
}

*/

#addon-info-container, .title-description {
    margin: 0;
}

.addon-info-item, .title-description {
    color: #666465;
    font-size: 12px;
}

#addon-details-right-column {
    margin: 0;
    padding-left: 20px;
}
