:root {
    /* in seconds */
    --friends-update-interval: 60;

	/* Master Colors 2013 */

	--HeaderColor: var(--GameDetailsGreen-master); 
	--PanelColor: var(--backgroundstart);
	--profilesize: 47px;
	--profileborder: 4px;
	--buttonradius: 3px;
	--scrollradius: 3.5px;
	--profileradius: 6px;
	--dialogbg-master: var(--dialogbg);
	--darkclientbg-master: var(--darkclientbg);
	--label-master: var(--label);
	--label2-master: var(--label2);
	--buttonborderdisabled-master: var(--buttonborderdisabled);
	--buttonface-master: var(--buttonface);
	--buttonfaceactive-master: var(--buttonfaceactive);
	--buttonface2-master: var(--buttonface2);
	--backgroundstartsubtle-master: var(--backgroundstartsubtle);
	--almostwhite-master: var(--almostwhite);
	--backgroundstart-master: var(--backgroundstart);
	--buttonborder-master: var(--buttonborder);
	--buttonbordersubtle-master: var(--buttonbordersubtle);
	--buttonborderfocus-master: var(--buttonborderfocus);
	--buttonborderfocussubtle-master: var(--buttonborderfocussubtle);
	--Text-master: var(--Text);
	--Texthover-master: var(--Texthover);
	--GameDetailsBlue-master: var(--GameDetailsBlue);
	--GameDetailsGreen-master: var(--GameDetailsGreen);
	--GameDetailsRed-master: var(--GameDetailsRed);
	--PropertySheetBG-master: var(--PropertySheetBG);
	--FriendsInGameColor-master: var(--FriendsInGameColor);
	--FriendsOnlineColor-master: var(--FriendsOnlineColor);
	--stblue-master: var(--stblue);
	--Friendsdullgreen-master: var(--Friendsdullgreen);
	--almostBlack-master: var(--almostBlack);
	--Highlight5-master: var(--Highlight5);
	--clientbg-master: var(--clientbg);
	
	/* imgs */

	--logotexture: url("2013steam/images/logotexture.png");
	--clientstretch: url("2013steam/images/clientstretch.png");
	--clientnostretch: url("2013steam/images/clientnostretch.png");
	--clientstretch2: none;
	--clientstretch3: url("2013steam/images/clientstretch3.png");
	
	/* big picture button */

	--bpmposition: absolute;
	--bpmimg: url("2013steam/images/bpmimg.png");
	--bpmimg2: url("2013steam/images/bpmimg2.png");
	--bpmimg3: url("2013steam/images/bpmimg3.png");
	--bpmwidth: 92px;
	--bpmheight: 64px;
	
	/* category / sort panel */
	
	--sortwidth: calc(100vw - 392px);
	
	/* Play Button */
	
	--playbuttoncolor: linear-gradient(to bottom, var(--buttonface2-master) 0%, var(--almostBlack-master) 100%);
	--playbuttonborder: 1px solid var(--buttonbordersubtle-master);
	--playbuttonborderfocus: 1px solid var(--buttonborderfocussubtle-master);
	--playbuttonfocus: linear-gradient(to bottom, var(--buttonface2-master) 0%, var(--almostBlack-master) 100%);
	--playbuttonimg: url("2013steam/images/playbuttonimg.png");
	--playbuttonimghover: url("2013steam/images/playbuttonimghover.png");
	--pausebuttonimg: url("2013steam/images/pausebuttonimg.png");
	--pausebuttonimghover: url("2013steam/images/pausebuttonimghover.png");
	--installbuttonimg: url("2013steam/images/installbuttonimg.png");
	--installbuttonimghover: url("2013steam/images/installbuttonimghover.png");
	--buttonimgpos: center 2px;
	
	/* Game Name Font */
	
	--gamenamefont: 27px;
	
	/* Panel Title Bars */
	
	--titlebarcol: var(--dialogbg-master);
	--titlebarimg: linear-gradient(to bottom, var(--buttonbordersubtle-master), var(--dialogbg-master));
	
	/* Float Panel Frame */
	
	--floatpanelframe: var(--dialogbg-master);
	
	/* active friends panel thing */
	
	--friendstabgradientstretch: 100%;
	--friendsinactivetab: linear-gradient(to bottom, var(--buttonface-master), var(--dialogbg-master) var(--friendstabgradientstretch));
	
	/* supernav */
	
	--supernavimg: var(--clientnostretch);
	
	/* context menu */
	
	--contextmenubg: var(--dialogbg-master);
	--contextmenu1: var(--buttonbordersubtle-master);
	--contextmenu2: var(--dialogbg-master);
	--contextmenuborder: var(--buttonbordersubtle-master);
	
	/* Top Buttons */
	
	--ctrlbuttonwidth: 30px;
	--ctrlbuttonheight: 30px;
	--ctrlbuttonborderwidth: 1px;
	--ctrlbuttonbackground1: var(--darkclientbg-master);
	--ctrlbuttonbackground2: var(--dialogbg-master);
	--ctrlbuttonbackgroundhover1: var(--darkclientbg-master);
	--ctrlbuttonbackgroundhover2: var(--darkclientbg-master);
	--ctrlbuttonbackgroundactive1: #5C7E10;
	--ctrlbuttonbackgroundactive2: #35342F;
	--ctrlbuttonbackgroundactivehover1: rgb(112,146,36);
	--ctrlbuttonbackgroundactivehover2: rgb(112,146,36);

	/* 2013 Colors */
	--dialogbg: rgb(56,54,53);
	--darkclientbg: rgb(36,35,34);
	--label: rgb(166,164,161);
	--label2: rgb(115,111,108);
	--buttonborderdisabled: rgb(77,75,72);
	--buttonface: rgb(105,102,99);
	--buttonfaceactive: rgb(105,102,99);
	--buttonface2: rgb(92,89,86);
	--backgroundstartsubtle: rgb(20,20,20);
	--almostwhite: rgb(242,242,242);
	--backgroundstart: rgba(23,22,20,0.71);
	--buttonborder: rgb(112,109,105);
	--buttonbordersubtle: rgb(82,79,77);
	--buttonborderfocus: rgb(153,147,141);
	--buttonborderfocussubtle: rgb(128,122,117);
	--Text: rgb(209,207,205);
	--Texthover: rgb(229,226,223);
	--GameDetailsBlue: rgb(89,126,179);
	--GameDetailsGreen: rgb(126,166,75);
	--GameDetailsRed: rgb(173,69,71);
	--PropertySheetBG: rgb(74,72,70);
	--FriendsInGameColor: rgb(140,179,89);
	--FriendsOnlineColor: rgb(134,181,217);
	--stblue: rgb(54,106,179);
	--Friendsdullgreen: rgb(124, 160, 78);
	--almostBlack: rgb(23,22,20);
	--Highlight5: rgb(77,103,140);
	--clientbg: black;
	
}