:root {
    /* in seconds */
    --friends-update-interval: 60;

	/* Master Colors 2014 */

	--HeaderColor: var(--GameDetailsGreen-new);
	--PanelColor: var(--backgroundstart-new);
	--profilesize: 47px;
	--profileborder: 2px;
	--buttonradius: 0;
	--scrollradius: 0;
	--profileradius: 0;
	--dialogbg-master: var(--dialogbg-new);
	--darkclientbg-master: var(--darkclientbg-new);
	--label-master: var(--label-new);
	--label2-master: var(--label2-new);
	--buttonborderdisabled-master: var(--buttonborderdisabled-new);
	--buttonface-master: var(--buttonface-new);
	--buttonfaceactive-master: var(--buttonfaceactive-new);
	--buttonface2-master: var(--buttonface2-new);
	--backgroundstartsubtle-master: var(--backgroundstartsubtle-new);
	--almostwhite-master: var(--almostwhite-new);
	--backgroundstart-master: var(--backgroundstart-new);
	--buttonborder-master: var(--buttonborder-new);
	--buttonbordersubtle-master: var(--buttonbordersubtle-new);
	--buttonborderfocus-master: var(--buttonborderfocus-new);
	--buttonborderfocussubtle-master: var(--buttonborderfocussubtle-new);
	--Text-master: var(--Text-new);
	--Texthover-master: var(--Texthover-new);
	--GameDetailsBlue-master: var(--GameDetailsBlue-new);
	--GameDetailsGreen-master: var(--GameDetailsGreen-new);
	--GameDetailsRed-master: var(--GameDetailsRed-new);
	--PropertySheetBG-master: var(--PropertySheetBG-new);
	--FriendsInGameColor-master: var(--FriendsInGameColor-new);
	--FriendsOnlineColor-master: var(--FriendsOnlineColor-new);
	--stblue-master: var(--stblue-new);
	--Friendsdullgreen-master: var(--Friendsdullgreen-new);
	--almostBlack-master: var(--almostBlack-new);
	--Highlight5-master: var(--Highlight5-new);
	--clientbg-master: var(--clientbg-new);


	--logotexture: none;
	--clientstretch: url(https://i.imgur.com/PTZcGPR.png);
	--clientnostretch: url(https://i.imgur.com/BNUdipg.png);
	--clientstretch2: url(https://i.imgur.com/YVHm42z.png);
	--clientstretch3: url(https://i.imgur.com/vOcCyrv.png);

	/* 2014 colors */
	--dialogbg-new: rgb(42,46,51);
	--darkclientbg-new: rgb(36,35,34) /* This is just a copy to help with replacing */;
	--label-new: rgb(168,172,179);
	--label2-new: rgb(107,112,123);
	--buttonborderdisabled-new: rgb(112,120,136);
	--buttonface-new: rgb(98,108,119);
	--buttonfaceactive-new: rgb(86,93,106);
	--buttonface2-new: rgb(67,73,83);
	--backgroundstartsubtle-new: rgb(0,13,40);
	--almostwhite-new: rgb(242,242,242) /* This is just a copy to help with replacing */;
	--backgroundstart-new: rgba(31,35,41, .71);
	--buttonborder-new: rgb(75,84,102);
	--buttonbordersubtle-new: rgb(75,84,102);
	--buttonborderfocus-new: rgb(125,133,148);
	--buttonborderfocussubtle-new: rgb(110,118,134);
	--Text-new: rgb(200,208,220);
	--Texthover-new: rgb(213,217,234);
	--GameDetailsBlue-new: rgb(71,148,179);
	--GameDetailsGreen-new: rgb(71,148,179);
	--GameDetailsRed-new: rgb(71,148,179);
	--PropertySheetBG-new: rgb(50,55,61);
	--FriendsInGameColor-new: rgb(144,186,60);
	--FriendsOnlineColor-new: rgb(84,165,196);
	--stblue-new: rgb(94,109,140);
	--Friendsdullgreen-new: rgb(92,126,16);
	--almostBlack-new: rgb(22,25,28);
	--Highlight5-new: rgb(24,53,82);
	--clientbg-new: rgb(18,26,42);
	
}